<html>
    <head>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    </head>

<%= render '/layouts/header' %>


    <div class="container">
        <header><h1 class="display-4">Search for your stop using a street name:</h1></header>
            <%= form_tag(search_page_path, :method => "get",
                class: 'navbar-form navbar-left') do %>
              <div class="input-group">
                <%= search_field_tag :search, params[:search], placeholder: "e.g. 'Halsted'", class: "form-control" %>
                <div class="input-group-btn">
                  <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
                </div>
              </div>
            <% end %>

    </div>

<br>
<br>


<div class="container">
        <br>
        <h3>Here's all of the bus stops:</h3>
        <ul>
        <%= render @busStops %>
        </ul>
</div>

</html>
